body{
    margin-top: 90px;
}

.navbar{
    box-shadow: 2px 2px 5px #3292a6;
    background: #ffffff;
    opacity: 0.9;
}

.nav-item{
    font-size: 1.4rem;
    padding-right: 20px;
}

.nav-item:last-child{
    padding-right: 0px;
}

.navbar .nav-item .nav-link{
    color: #252525;
}

.navbar .nav-item .nav-link:hover{
    color: #3292a6;
}

#showcase{
    background: url("../images/mountains.jpg");
    min-height: 600px;
    position: relative;
}

.overlay_primary{
    background: rgba(50, 146, 156, 0.7);
    min-height: 600px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#authors img{
    margin-top: -50px;
}

#authors .card .fab{
    font-size: 25px;
    color: #3292a6;
}

#authors .card:hover{
    background: #3292a6;
    color: #ffffff;
}

#authors .card:hover .fab{
    color: #ffffff;
}





@media (max-width: 576px) {
    #showcase h1{
        font-size: 4rem;
    }
}
